:root {
  --primary: #DD8FFF;
  --primary-l: #FFFA8F;
  --secondary: #948FFF;
  /*--------------------------------*/
  --border_color: #0729c2;
  --changelog_color: #e75a5c;
  --linkbox_color: #f0f479;
  --textbox_color: #92f2ff;
  --nav_color: #d96363;
  --background_color: #68ccfe;
  --guestbook_color: #c8f1f7;
  --text1: #0729c2;
  --text2: #36010e;
  --text3: #f7feff;
}

@media (prefers-color-scheme:dark) {
  :root {
    --border_color: #000000;
    --changelog_color: #717e54;
    --linkbox_color: #d9d74c;
    --textbox_color: #558186;
    --nav_color: #5b3146;
    --background_color: #2d2a46;
    --guestbook_color: #496149;
    --text1: #ffe694;
    --text2: #f22929;
    --text3: #c1ff94;
  }
}

.top_nav {
    position: sticky;
    top: 0;
    overflow-wrap: anywhere;
    overflow: hidden;
    justify-content: center;
     padding: 18px;
    background-color: var(--textbox_color);
    color: var(--text1);
    border-bottom: solid 5px;
    border-right: solid 5px;
    border-left: solid 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-color: var(--border_color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
    z-index: 10;
}

.top_nav a:link {
    color: var(--text1);
}

.top_nav a:hover {
    color: var(--nav_color);
}

.top_nav a:active {

    color: var(--nav_color);

}

/* scrollbars */
/* width */
::-webkit-scrollbar {
  width: 15px;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background_color);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fde2e200;
  box-shadow: inset 0 0 8px var(--border_color);
  border-radius: 17px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbe8ff;
  box-shadow: inset 0 0 5px #2a50f7;
  border-radius: 17px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--background_color);
  color: var(--text3);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.data-control {
  text-align: center;
  margin-bottom: 2rem;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  border: 1px solid black;
  width: clamp(200px, calc(350px + 10vw), 420px);
  padding: 0.7rem;
  box-shadow: #00000045 1px 1px 1px 1px;
  background-color: var(--nav_color);
  border-radius: 17px;

  hr {
    color: inherit;
  }
}

.card-header {
  margin: 0 0 .7rem 0;
  font-size: 1rem;
  height: calc(2rem + 5px);
  overflow: hidden;
  color: var(--text3);

  &:hover {
    color: var(--primary-l);
  }
}

.card-content {
  color: var(--linkbox_color);
  font-size: 0.9rem;
}

.badge {
  background-color: var(--text3);
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  transition: scale 100ms, background-color 250ms;
  cursor: pointer;
}

.badge:hover {
  background-color: var(--textbox_color);
  scale: 1.1;
}

.badge-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.7rem;
}

.btn {
  background-color: #222222;
  color: whitesmoke;
  padding: 0.5rem 1rem;
  max-width: 120px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

/* Icons | Big ups: https://icon-sets.iconify.design/ri */
.icon-mask {
  display: inline-block;
  vertical-align: text-top;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.external-link {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1zm11-3v8h-2V6.413l-7.793 7.794l-1.414-1.414L17.585 5H13V3z'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
}

.time-line {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16m1-8h4v2h-6V7h2z'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
}

.upload-line {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3 19h18v2H3zM13 5.828V17h-2V5.828L4.929 11.9l-1.414-1.414L12 2l8.485 8.485l-1.414 1.415z'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
}